@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'MONTSERRAT', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  
  --color-bg: #533b31;
  --color-footer : #533b31;
  --color-blog: #533b31;
  --color-text: #533b31;
  --color-subtext: #FF8A71;
}